<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'vida-noturna.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'vida-noturna.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'vida-noturna.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'vida-noturna.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'vida-noturna.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'vida-noturna.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'vida-noturna.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'vida-noturna.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>