<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'gastronomia.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'gastronomia.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'gastronomia.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'gastronomia.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'gastronomia.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'gastronomia.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'gastronomia.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'gastronomia.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>