<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'mercados.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'mercados.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'mercados.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'mercados.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'mercados.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'mercados.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'mercados.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'mercados.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>