<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'pontos-turisticos-atividades.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'pontos-turisticos-atividades.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'pontos-turisticos-atividades.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'pontos-turisticos-atividades.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'pontos-turisticos-atividades.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'pontos-turisticos-atividades.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'pontos-turisticos-atividades.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'pontos-turisticos-atividades.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>
