.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    
    &.menu-inicial {
        top: 64px;
    }

    @media screen and (max-width: 900px) {
        top: 64px !important;
    }
    @media screen  and (max-width: 599px){
        top: 56px !important;
    }
}