<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'roteiros-prontos.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'roteiros-prontos.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'roteiros-prontos.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'roteiros-prontos.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'roteiros-prontos.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'roteiros-prontos.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'roteiros-prontos.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'roteiros-prontos.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>