<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'atividades-ar-livre.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'atividades-ar-livre.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'atividades-ar-livre.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'atividades-ar-livre.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'atividades-ar-livre.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'atividades-ar-livre.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'atividades-ar-livre.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'atividades-ar-livre.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>