<div class="filters-section">
    <button mat-mini-fab class="filter-button" [matMenuTriggerFor]="sortMenu">
        <mat-icon class="filter-button">sort</mat-icon>
    </button>
    <mat-menu #sortMenu="matMenu">
        <button mat-menu-item (click)="sort('default')">{{'pontos-turisticos-atividades.sort.relevance' | translate}}</button>
        <button mat-menu-item (click)="sort('alphabetical')">{{'pontos-turisticos-atividades.sort.alphabetical' | translate}}</button>
        <button mat-menu-item (click)="sort('location')">{{'pontos-turisticos-atividades.sort.location' | translate}}</button>
    </mat-menu>
    <span class="h-space"></span>
    <ng-container *ngFor="let filter of filterMap; trackBy: trackByName">
        <button mat-mini-fab *ngIf="filter.form.value" class="enabled-filters" (click)="filter.form.setValue(false)">
            <mat-icon
            matTooltip="{{'pontos-turisticos-atividades.filter.' + filter.name | translate }}"
            svgIcon="{{ filter.name }}"></mat-icon>
        </button>
    </ng-container>
    <button mat-mini-fab class="filter-button" [matMenuTriggerFor]="filtersMenu">
        <mat-icon class="filter-button">filter_alt</mat-icon>
    </button>
    <mat-menu #filtersMenu="matMenu">
        <mat-checkbox class="mat-menu-item" *ngFor="let filter of filterMap; trackBy: trackByName"
            (click)="$event.stopPropagation()"
            [formControl]="filter.form"> {{'pontos-turisticos-atividades.filter.' + filter.name | translate}}</mat-checkbox>
    </mat-menu>
</div>

<mat-accordion>
    <ng-container *ngFor="let i of entryMap; trackBy: trackByIndex">
        <mat-expansion-panel *ngIf="shouldShow(i.id)" (afterExpand)="onPanelOpened(expansionPanel)"  #expansionPanel>
            <mat-expansion-panel-header>
                <mat-panel-title class="panel-title">
                    {{'pontos-turisticos-atividades.' + i.id + '.title' | translate}}
                    <div class="panel-categories">
                        <button mat-button color="accent" *ngIf="getDistance(i.id)">{{getDistance(i.id)}}</button>
                        <mat-icon *ngFor="let categoria of i.categorias" matTooltip="{{'pontos-turisticos-atividades.filter.' + categoria | translate }}" svgIcon="{{ categoria }}"></mat-icon>
                    </div>
                    </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="panel-content">
                    <img class="panel-img" [src]="'assets/img/pontos-turisticos-atividades/' + i.id + '.png'">
                    <div>
                        <div class="panel-text" [innerHTML]="'pontos-turisticos-atividades.' + i.id + '.content' | translate"></div>
                        <ng-container *ngIf="geoUrls$ | async as geoUrls">
                            <iframe *ngIf="geoUrls[i.id]"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    scrolling="no"
                                    marginheight="0"
                                    marginwidth="0"
                            [src]=geoUrls[i.id]></iframe>
                        </ng-container>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>