.panel-content{
    display: flex;
    @media screen and (max-width: 900px ) {
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 900px) {
        flex-direction: row;
    }
}
.panel-img{
    max-height: 510px;
    width: auto;
    @media screen and (max-width: 900px ) {
        max-width: 100%;
    }
    @media screen and (min-width: 900px){
        margin-right: 24px;
    }
}