<div class="filters-button">
    <button mat-icon-button
            [matMenuTriggerFor]="filtersMenu"
            matBadge="{{ selectedFiltersCount() }}"
            matBadgeHidden="{{ !selectedFiltersCount() }}"
            matBadgePosition="below before"
            matBadgeOverlap="true"
            matBadgeColor="accent"
            ><mat-icon>filter_alt</mat-icon>
    </button>
    <mat-menu #filtersMenu="matMenu">
        <mat-checkbox class="mat-menu-item" *ngFor="let filter of filters | keyvalue: {}"
            (click)="$event.stopPropagation()"
            [formControl]="filter.value"> {{'pontos-turisticos-atividades.filter.' + filter.key | translate}}</mat-checkbox>
    </mat-menu>
</div>

<mat-accordion>
    <ng-container *ngFor="let i of entries | keyvalue: {}">
        <mat-expansion-panel *ngIf="shouldShow(i.key)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'pontos-turisticos-atividades.' + i.key + '.title' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="panel-content">
                    <img class="panel-img" [src]="'assets/img/pontos-turisticos-atividades/' + i.key + '.webp'">
                    <div>
                        <div class="panel-text" [innerHTML]="'pontos-turisticos-atividades.' + i.key + '.content' | translate"></div>
                            <iframe *ngIf="(geoUrls$ | async) as geoUrls"
                            width="100%"
                            height="300"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            [src]=geoUrls[i.key]></iframe>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>