<div class="filters-button">
    <button mat-icon-button
            [matMenuTriggerFor]="filtersMenu"><mat-icon>filter_alt</mat-icon>
    </button>
    <mat-menu #filtersMenu="matMenu">
        <mat-checkbox class="mat-menu-item" *ngFor="let filter of filters | keyvalue"
            color="primary"
            (click)="$event.stopPropagation()"
            [formControl]="filter.value"> {{'pontos-turisticos-atividades.filter.' + filter.key | translate}}</mat-checkbox>
    </mat-menu>
</div>

<mat-accordion>
    <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]">
        <mat-expansion-panel *ngIf="shouldShow(i)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'pontos-turisticos-atividades.' + i + '.title' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="panel-content">
                    <img class="panel-img" [src]="'assets/img/pontos-turisticos-atividades/' + i + '.webp'">
                    <div>
                        <div class="panel-text" [innerHTML]="'pontos-turisticos-atividades.' + i + '.content' | translate"></div>
                            <iframe *ngIf="(geoUrls$ | async) as geoUrls"
                            width="100%"
                            height="300"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            [src]=geoUrls[i]></iframe>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>