.filters-section {
    display: flex;
    justify-content: flex-end;
    padding: 4px 16px;
}
.filter-button {
    background-color: dimgray;
}
.enabled-filters {
    --icon-color: white;
    margin: 0px 2px;
}
.panel-title {
    align-items: center;
}
.panel-categories {
    display: flex;
    flex: content;
    justify-content: flex-end;
    * {
        font-size: 15px;
        padding: 2px;
    }
}
.panel-content{
    display: flex;
    .panel-img{
        max-height: 510px;
        width: auto;
    }
    @media screen and (max-width: 900px ) {
        .panel-text {
            margin-top: 12px;
        }
        .panel-img {
            max-width: 100%;
        }
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 900px) {
        .panel-img {
            margin-right: 24px;
        }
        flex-direction: row;
    }
}