<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'atividades-criancas.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'atividades-criancas.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'atividades-criancas.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'atividades-criancas.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'atividades-criancas.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'atividades-criancas.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'atividades-criancas.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'atividades-criancas.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>