<div class="container">
    <h2>{{ 'menu-inicial.welcome' | translate }}</h2>
    <p>{{ 'menu-inicial.p1' | translate }}</p>
    <p>{{ 'menu-inicial.p2' | translate }}</p>
    <p>🛈<i>{{'menu-inicial.tip' | translate}}</i></p>
    <mat-grid-list [cols]="gridCols" rowHeight="4:3" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let route of availableRoutes; let i = index"
        class="tile" 
        [ngStyle]="{
          'background-image': 'url(assets/img/menu-inicial/' + route + '.png)',
          'animation-delay': ((i + 1) * 300) + 'ms'
        }"
        [ngClass]="i % 2 === 0 ? 'flipInRight' : 'flipInLeft'"
        >
            <button mat-button color="secondary" routerLink="{{route}}">{{'common.pages.'+ route | translate }}</button>
        </mat-grid-tile>
    </mat-grid-list>
    <footer class="footer">
        <a href="https://www.airbnb.pt/rooms/49664226?unique_share_id=02518fad-0c9f-48c5-9a6e-8337459483d5" target="_blank" class="footer-link">
          <img src="assets/icons/airbnb-logo.png" alt="Airbnb Logo" class="airbnb-icon" />
          {{'menu-inicial.footer' | translate}}
        </a>
      </footer>
</div>