<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'lembrancas.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'lembrancas.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'lembrancas.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'lembrancas.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'lembrancas.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'lembrancas.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'lembrancas.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'lembrancas.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>