@import '~@angular/material/theming';
@include mat-core();
$paleta-primaria: (
  50 : #f3eae5,
  100 : #dbcbc4,
  200 : #bfaaa0,
  300 : #a3887a,
  400 : #8f6e5e,
  500 : #7a5643,
  600 : #6e4c3c,
  700 : #5f4032,
  800 : #50342a,
  900 : #40271f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);
$paleta-complementar: (
  50 : #e3eff9,
  100 : #c3d6e1,
  200 : #a3bac8,
  300 : #819eb0,
  400 : #68899d,
  500 : #4f758b,
  600 : #43677a,
  700 : #355364,
  800 : #27414f,
  900 : #162c38,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);
$candy-app-primary: mat-palette($paleta-primaria, 500);
$candy-app-accent:  mat-palette($paleta-complementar, 500);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

html {
  scrollbar-width: none; //firefox velho
  -ms-overflow-style: none; //ie
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p {
  text-align: left;
}

.mat-expansion-panel:not(.mat-expanded) {
    height: 48px;
  }
