<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'cultura.1.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'cultura.1.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'cultura.2.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'cultura.2.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'cultura.3.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'cultura.3.p1' | translate}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'cultura.4.title' | translate}}
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{'cultura.4.p1' | translate}}</p>
    </mat-expansion-panel> 
</mat-accordion>